<footer class="{{classList}}">
  <div class="py-12 bg-dark bg-cover" style="background-image: url({{webRoot}}/assets/img/patterns/pattern-2.svg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">

          <!-- Brand -->
          <h2 class="mb-7 text-white">
            Bootstrap the development of your online store with Shopper now!
          </h2>

          <!-- Buttons -->
          <a class="btn btn-primary" href="https://themes.getbootstrap.com/product/shopper/" target="_blank">
            Buy Now for $49
          </a>

        </div>
      </div>
    </div>
  </div>
</footer>
