<footer class="{{classList}}">
  <div class="row">
    <div class="col-12 py-12 bg-dark bg-cover text-center" style="background-image: url({{webRoot}}/assets/img/patterns/pattern-2.svg)">

      <!-- Brand -->
      <h2 class="mb-7 text-white">Shopper.</h2>

      <!-- Links -->
      <ul class="list-inline mb-7">
        <li class="list-inline-item px-3">
          <a class="text-gray-300" href="{{webRoot}}/contact-us.html">Contact Us</a>
        </li>
        <li class="list-inline-item px-3">
          <a class="text-gray-300" href="{{webRoot}}/faq.html">FAQs</a>
        </li>
        <li class="list-inline-item px-3">
          <a class="text-gray-300" data-bs-toggle="modal" href="#modalSizeChart">Size Guide</a>
        </li>
        <li class="list-inline-item px-3">
          <a class="text-gray-300" href="{{webRoot}}/shipping-and-returns.html">Shipping & Returns</a>
        </li>
        <li class="list-inline-item px-3">
          <a class="text-gray-300" href="{{webRoot}}/about.html">Our Story</a>
        </li>
      </ul>

      <!-- Links -->
      <ul class="list-inline fs-lg">
        <li class="list-inline-item">
          <a class="text-gray-300" href="#!">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="text-gray-300" href="#!">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="text-gray-300" href="#!">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="text-gray-300" href="#!">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="text-gray-300" href="#!">
            <i class="fab fa-medium"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
  <div class="py-6">
    <div class="row">
      <div class="col">

        <!-- Copyright -->
        <p class="mb-3 mb-md-0 fs-xxs text-muted">
          © 2019 All rights reserved. Designed by Unvab.
        </p>

      </div>
      <div class="col-auto">

        <!-- Payment methods -->
        <img class="footer-payment" src="{{webRoot}}/assets/img/payment/mastercard.svg" alt="...">
        <img class="footer-payment" src="{{webRoot}}/assets/img/payment/visa.svg" alt="...">
        <img class="footer-payment" src="{{webRoot}}/assets/img/payment/amex.svg" alt="...">
        <img class="footer-payment" src="{{webRoot}}/assets/img/payment/paypal.svg" alt="...">
        <img class="footer-payment" src="{{webRoot}}/assets/img/payment/maestro.svg" alt="...">
        <img class="footer-payment" src="{{webRoot}}/assets/img/payment/klarna.svg" alt="...">

      </div>
    </div>
  </div>
</footer>
