<footer class="p-9 bg-dark {{classList}}">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <!-- Heading -->
        <h4 class="mb-7 mb-xl-0 text-white">Shopper.</h4>

      </div>
      <div class="col-auto">

        <!-- Links -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-xl-7">
            <a class="text-gray-300" href="{{webRoot}}/contact-us.html">Contact Us</a>
          </li>
          <li class="list-inline-item me-xl-7">
            <a class="text-gray-300" href="{{webRoot}}/faq.html">FAQs</a>
          </li>
          <li class="list-inline-item me-xl-7">
            <a class="text-gray-300" data-bs-toggle="modal" href="#modalSizeChart">Size Guide</a>
          </li>
          <li class="list-inline-item me-xl-7">
            <a class="text-gray-300" href="{{webRoot}}/shipping-and-returns.html">Shipping & Returns</a>
          </li>

          <li class="list-inline-item">
            <a class="text-gray-300" href="{{webRoot}}/about.html">Our Story</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>
