<nav class="navbar navbar-expand-xl navbar-light {{classList}}">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/overview.html">
      Shopper.
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLandingCollapse" aria-controls="navbarLandingCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarLandingCollapse">

      <!-- Nav -->
      <ul class="navbar-nav ms-xl-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#welcome" data-smoothscroll>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#products" data-smoothscroll>Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about" data-smoothscroll>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#howItWorks" data-smoothscroll>How it Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing" data-smoothscroll>Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews" data-smoothscroll>Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#getStarted" data-smoothscroll>Get Started</a>
        </li>
      </ul>

      <!-- Nav -->
      <ul class="navbar-nav ms-xl-4">
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="offcanvas" href="#modalShoppingCart">
            <span data-cart-items="2">
              <i class="fe fe-shopping-cart"></i>
            </span>
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
