<div class="navbar navbar-topbar navbar-expand-xl navbar-light {{classList}}">
  <div class="container">

    <!-- Promo -->
    <div class="me-xl-8">
      <i class="fe fe-truck me-2"></i> <span class="heading-xxxs">Free shipping worldwide</span>
    </div>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbarCollapse" aria-controls="topbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="topbarCollapse">

      <!-- Nav -->
      <ul class="nav nav-divided navbar-nav me-auto">
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
            <img class="mb-1 me-1" src="{{webRoot}}/assets/img/flags/usa.svg" alt="..." /> United States
          </a>

          <!-- Menu -->
          <div class="dropdown-menu min-w-0">
            <a class="dropdown-item" href="#!">
              <img class="mb-1 me-2" src="{{webRoot}}/assets/img/flags/usa.svg" alt="USA">United States
            </a>
            <a class="dropdown-item" href="#!">
              <img class="mb-1 me-2" src="{{webRoot}}/assets/img/flags/canada.svg" alt="Canada">Canada
            </a>
            <a class="dropdown-item" href="#!">
              <img class="mb-1 me-2" src="{{webRoot}}/assets/img/flags/germany.svg" alt="Germany">Germany
            </a>
          </div>

        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">USD</a>

          <!-- Menu -->
          <div class="dropdown-menu min-w-0">
            <a class="dropdown-item" href="#!">USD</a>
            <a class="dropdown-item" href="#!">EUR</a>
          </div>

        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">English</a>

          <!-- Menu -->
          <div class="dropdown-menu min-w-0">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">French</a>
            <a class="dropdown-item" href="#">German</a>
          </div>

        </li>
      </ul>

      <!-- Nav -->
      <ul class="nav navbar-nav me-8">
        <li class="nav-item">
          <a class="nav-link" href="{{webRoot}}/shipping-and-returns.html">Shipping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{webRoot}}/faq.html">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{webRoot}}/contact-us.html">Contact</a>
        </li>
      </ul>

      <!-- Nav -->
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link text-gray-350" href="#!">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item ms-xl-n4">
          <a class="nav-link text-gray-350" href="#!">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item ms-xl-n4">
          <a class="nav-link text-gray-350" href="#!">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item ms-xl-n4">
          <a class="nav-link text-gray-350" href="#!">
            <i class="fab fa-medium"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
