<nav class="navbar navbar-expand-xl navbar-light {{classList}}">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand d-xl-none" href="{{webRoot}}/overview.html">
      Shopper.
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarClassicCollapse" aria-controls="navbarClassicCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarClassicCollapse">

      <!-- Nav -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" data-bs-toggle="dropdown" href="#">Home</a>

          <!-- Menu -->
          {{> dropdowns/dropdown-home}}

        </li>
        <li class="nav-item dropdown position-static">

          <!-- Toggle -->
          <a class="nav-link" data-bs-toggle="dropdown" href="#">Catalog</a>

          <!-- Menu -->
          {{> dropdowns/dropdown-catalog-classic}}

        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" data-bs-toggle="dropdown" href="#">Shop</a>

          <!-- Menu -->
          {{> dropdowns/dropdown-shop}}

        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" data-bs-toggle="dropdown" href="#">Pages</a>

          <!-- Menu -->
          {{> dropdowns/dropdown-pages}}

        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link" data-bs-toggle="dropdown" href="#">Blog</a>

          <!-- Menu -->
          {{> dropdowns/dropdown-blog}}

        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{webRoot}}/docs/getting-started.html">Docs</a>
        </li>
      </ul>

      <!-- Brand -->
      <a class="navbar-brand mx-auto d-none d-xl-block" href="{{webRoot}}/overview.html">
        Shopper.
      </a>

      <!-- Nav -->
      <ul class="navbar-nav nav-divided">
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link text-body dropdown-toggle" data-bs-toggle="dropdown" href="#">United States</a>

          <!-- Menu -->
          <div class="dropdown-menu">
            <div class="card card-lg">
              <div class="card-body">
                <ul class="list-styled fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">United States</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">Canada</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">Germany</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link text-body dropdown-toggle" data-bs-toggle="dropdown" href="#">USD</a>

          <!-- Menu -->
          <div class="dropdown-menu">
            <div class="card card-lg">
              <div class="card-body">
                <ul class="list-styled fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">USD</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">EUR</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </li>
        <li class="nav-item dropdown">

          <!-- Toggle -->
          <a class="nav-link text-body dropdown-toggle" data-bs-toggle="dropdown" href="#">EN</a>

          <!-- Menu -->
          <div class="dropdown-menu">
            <div class="card card-lg">
              <div class="card-body">
                <ul class="list-styled fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">English</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">French</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="#!">German</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </li>
      </ul>

      <!-- Nav -->
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="offcanvas" href="#modalSearch">
            <i class="fe fe-search"></i>
          </a>
        </li>
        <li class="nav-item ms-lg-n4">
          <a class="nav-link" href="{{webRoot}}/account-orders.html">
            <i class="fe fe-user"></i>
          </a>
        </li>
        <li class="nav-item ms-lg-n4">
          <a class="nav-link" href="{{webRoot}}/account-wishlist.html">
            <i class="fe fe-heart"></i>
          </a>
        </li>
        <li class="nav-item ms-lg-n4">
          <a class="nav-link" data-bs-toggle="offcanvas" href="#modalShoppingCart">
            <span data-cart-items="2">
              <i class="fe fe-shopping-cart"></i>
            </span>
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
