<nav class="navbar navbar-expand navbar-dark {{classList}}">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/overview.html">
      Shopper.
    </a>

    <!-- Nav -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="#!">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="nav-item ms-n4">
        <a class="nav-link" href="#!">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item ms-n4">
        <a class="nav-link" href="#!">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="nav-item ms-n4">
        <a class="nav-link" href="#!">
          <i class="fab fa-medium"></i>
        </a>
      </li>
    </ul>

  </div>
</nav>
