<div class="modal fade" id="modalPasswordReset" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- Close -->
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <i class="fe fe-x" aria-hidden="true"></i>
      </button>

      <!-- Header-->
      <div class="modal-header lh-fixed fs-lg">
        <strong class="mx-auto">Forgot Password?</strong>
      </div>

      <!-- Body -->
      <div class="modal-body text-center">

        <!-- Text -->
        <p class="mb-7 fs-sm text-gray-500">
          Please enter your Email Address. You will receive a link
          to create a new password via Email.
        </p>

        <!-- Form -->
        <form>

          <!-- Email -->
          <div class="form-group">
            <label class="visually-hidden" for="modalPasswordResetEmail">
              Email Address *
            </label>
            <input class="form-control form-control-sm" id="modalPasswordResetEmail" type="email" placeholder="Email Address *" required>
          </div>

          <!-- Button -->
          <button class="btn btn-sm btn-dark">
            Reset Password
          </button>

        </form>

      </div>

    </div>

  </div>
</div>
