<div class="modal fade" id="modalNewsletterHorizontal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <!-- Close -->
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <i class="fe fe-x" aria-hidden="true"></i>
      </button>

      <!-- Content -->
      <div class="row gx-0">
        <div class="col-12 col-lg-5">

          <!-- Image -->
          <img class="img-fluid" src="{{webRoot}}/assets/img/covers/cover-25.jpg" alt="...">

        </div>
        <div class="col-12 col-lg-7 d-flex flex-column px-md-8">

          <!-- Body -->
          <div class="modal-body my-auto py-10">

            <!-- Heading -->
            <h4>Subscribe to Newsletter and get 15% Discount</h4>

            <!-- Text -->
            <p class="mb-7 fs-lg">
              On your next purchase
            </p>

            <!-- Form -->
            <form>
              <div class="row gx-5">
                <div class="col">

                  <!-- Input -->
                  <label class="visually-hidden" for="modalNewsletterHorizontalEmail">Enter Email *</label>
                  <input class="form-control form-control-sm" id="modalNewsletterHorizontalEmail" type="email" placeholder="Enter Email *">

                </div>
                <div class="col-auto">

                  <!-- Button -->
                  <button class="btn btn-sm btn-dark" type="submit">
                    <i class="fe fe-send"></i>
                  </button>

                </div>
              </div>
            </form>

          </div>

          <!-- Footer -->
          <div class="modal-footer pt-0">

            <!-- Checkbox -->
            <div class="form-check">

              <!-- Input -->
              <input class="form-check-input" id="modalNewsletterHorizontalCheckbox" type="checkbox">

              <!-- Label -->
              <label class="form-check-label fs-xs" for="modalNewsletterHorizontalCheckbox">
                Prevent this Pop-up
              </label>

            </div>

          </div>

        </div>
      </div>

    </div>

  </div>
</div>
