<div class="modal fade" id="modalNewsletterVertical" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- Close -->
      <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close">
        <i class="fe fe-x" aria-hidden="true"></i>
      </button>

      <!-- Body -->
      <div class="modal-body mt-2 me-2 ms-2 py-10 bg-cover text-center text-white" style="background-image: url({{webRoot}}/assets/img/covers/cover-26.jpg);">

        <!-- Heading -->
        <h4>Subscribe to Newsletter and get 15% Discount</h4>

        <!-- Text -->
        <p class="mb-0 fs-lg">
          On your next purchase
        </p>

      </div>

      <!-- Body -->
      <div class="modal-body py-9">

        <!-- Form -->
        <form>
          <div class="row gx-5">
            <div class="col">

              <!-- Input -->
              <label class="visually-hidden" for="modalNewsletterVerticalEmail">Enter Email *</label>
              <input class="form-control form-control-sm" id="modalNewsletterVerticalEmail" type="email" placeholder="Enter Email *">

            </div>
            <div class="col-auto">

              <!-- Button -->
              <button class="btn btn-sm btn-dark" type="submit">
                Subscribe
              </button>

            </div>
          </div>
        </form>

      </div>

      <!-- Footer -->
      <div class="modal-footer justify-content-center pt-0">

        <!-- Checkbox -->
        <div class="form-check">

          <!-- Input -->
          <input class="form-check-input" id="modalNewsletterVerticalCheckbox" type="checkbox">

          <!-- Label -->
          <label class="form-check-label fs-xs" for="modalNewsletterVerticalCheckbox">
            Prevent this Pop-up
          </label>

        </div>

      </div>

    </div>

  </div>
</div>
