<div class="dropdown-menu" style="min-width: 650px;">
  <div class="card card-lg">
    <div class="card-body">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <div class="mb-5 fw-bold">Shop</div>

          <!-- Links -->
          <ul class="list-styled mb-7 fs-sm">
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Default</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop-topbar.html">Topbar</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop-collapse.html">Collapse</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop-simple.html">Simple</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop-masonry.html">Masonry</a>
            </li>
          </ul>

          <!-- Heading -->
          <div class="mb-5 fw-bold">Product</div>

          <!-- Links -->
          <ul class="list-styled fs-sm">
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/product.html">Default</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/product-images-left.html">Images Left</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/product-image-grid.html">Image Grid</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/product-image-slider.html">Image Slider</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/product-images-stacked.html">Images Stacked</a>
            </li>
          </ul>

        </div>
        <div class="col">

          <!-- Heading -->
          <div class="mb-5 fw-bold">Support</div>

          <!-- Links -->
          <ul class="list-styled mb-7 fs-sm">
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shopping-cart.html">Shopping Cart</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/checkout.html">Checkout</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/order-completed.html">Order Completed</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shipping-and-returns.html">Shipping & Returns</a>
            </li>
          </ul>

          <!-- Heading -->
          <div class="mb-5 fw-bold">Account</div>

          <!-- Links -->
          <ul class="list-styled fs-sm">
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/account-order.html">Order</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/account-orders.html">Orders</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/account-wishlist.html">Wishlist</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/account-personal-info.html">Personal Info</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/account-address.html">Addresses</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/account-address-edit.html">Addresses: New</a>
            </li>
          </ul>

        </div>
        <div class="col">

          <!-- Links -->
          <ul class="list-styled mb-7 fs-sm">
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/account-payment.html">Payment</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/account-payment-edit.html">Payment: New</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/account-payment-choose.html">Payment: Choose</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/auth.html">Auth</a>
            </li>
          </ul>

          <!-- Heading -->
          <div class="mb-5 fw-bold">Modals</div>

          <!-- Links -->
          <ul class="list-styled fs-sm">
            <li class="list-styled-item">
              <a class="list-styled-link" data-bs-toggle="modal" href="#modalNewsletterHorizontal">
                Newsletter: Horizontal
              </a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" data-bs-toggle="modal" href="#modalNewsletterVertical">
                Newsletter: Vertical
              </a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" data-bs-toggle="modal" href="#modalProduct">
                Product
              </a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" data-bs-toggle="offcanvas" href="#modalSearch">
                Search
              </a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" data-bs-toggle="offcanvas" href="#modalShoppingCart">
                Shopping Cart
              </a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" data-bs-toggle="modal" href="#modalSizeChart">
                Size Chart
              </a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" data-bs-toggle="modal" href="#modalWaitList">
                Wait List
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
