<div class="dropdown-menu" style="min-width: 650px;">
  <div class="card card-lg">
    <div class="card-body">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <div class="mb-5 fw-bold">Clothing</div>

          <!-- Links -->
          <ul class="list-styled mb-0 fs-sm">
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">All Clothing</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Blouses & Shirts</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Coats & Jackets</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Dresses</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Hoodies & Sweats</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Denim</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Jeans</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Jumpers & Cardigans</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Leggings</a>
            </li>
          </ul>

        </div>
        <div class="col">

          <!-- Heading -->
          <div class="mb-5 fw-bold">Shoes & Boots</div>

          <!-- Links -->
          <ul class="list-styled mb-0 fs-sm">
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">All Shoes & Boots</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Branded Shoes</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Boots</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Heels</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Trainers</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Sandals</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Shoes</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Wide Fit Shoes</a>
            </li>
          </ul>

        </div>
        <div class="col">

          <!-- Heading -->
          <div class="mb-5 fw-bold">Bags & Accessories</div>

          <!-- Links -->
          <ul class="list-styled mb-0 fs-sm">
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">All Bags & Accessories</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Accessories</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Bags & Purses</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Luggage</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Belts</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Hats</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Hair Accessories</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Jewellery</a>
            </li>
            <li class="list-styled-item">
              <a class="list-styled-link" href="{{webRoot}}/shop.html">Travel Accessories</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
