<div class="dropdown-menu">
  <div class="card card-lg">
    <div class="card-body">
      <ul class="list-styled fs-sm">
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/about.html">About</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/contact-us.html">Contact Us</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/store-locator.html">Store Locator</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/faq.html">FAQ</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/coming-soon.html">Coming Soon</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/404.html">404</a>
        </li>
      </ul>
    </div>
  </div>
</div>
