<nav class="navbar navbar-expand-md navbar-light sticky-start mx-n4 mx-md-0 py-3 py-md-0 px-4 px-md-0 {{classList}}">

  <!-- Breadcrumb -->
  <ol class="breadcrumb d-md-none mb-0 fs-xs text-gray-400">
    <li class="breadcrumb-item">
      <a class="text-gray-400" href="{{webRoot}}/docs/getting-started.html">Docs</a>
    </li>
    <li class="breadcrumb-item active">
      {{title}}
    </li>
  </ol>

  <!-- Toggler -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#docsCollapse" aria-controls="docsCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapse -->
  <div class="collapse navbar-collapse" id="docsCollapse">
    <nav class="py-3 py-md-10 px-md-8">

      <!-- Heading -->
      <p class="mb-5 fs-xxs fw-bold text-uppercase">
        Getting Started
      </p>

      <!-- Links -->
      <ul class="list-styled">
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/getting-started.html">Introduction</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/changelog.html">Changelog</a>
        </li>
      </ul>

      <!-- Heading -->
      <p class="mt-7 mb-5 fs-xxs fw-bold text-uppercase">
        Components
      </p>

      <!-- Links -->
      <ul class="list-styled">
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/alerts.html">Alerts</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/avatars.html">Avatars</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/badges.html">Badges</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/brands.html">Brands</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/breadcrumb.html">Breadcrumb</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/buttons.html">Buttons</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/cards.html">Cards</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/dropdowns.html">Dropdowns</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/form.html">Form</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/icons.html">Icons</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/lists.html">Lists</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/modals.html">Modals</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/navbar.html">Navbar</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/navs.html">Navs</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/pagination.html">Pagination</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/popovers.html">Popovers</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/progress.html">Progress</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/rate.html">Rate</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/rating.html">Rating</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/review.html">Review</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/spinners.html">Spinners</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/tables.html">Tables</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/toasts.html">Toasts</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/tooltips.html">Tooltips</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/typography.html">Typography</a>
        </li>
      </ul>

      <!-- Heading -->
      <p class="mt-7 mb-5 fs-xxs fw-bold text-uppercase">
        Plugins
      </p>

      <!-- Links -->
      <ul class="list-styled">
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/bigpicture.html">BigPicture</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/flickity.html">Flickity</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/jarallax.html">Jarallax</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/listjs.html">List.js</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/map.html">Map</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/simplebar.html">Simplebar</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/smooth-scroll.html">Smooth Scroll</a>
        </li>
      </ul>

      <!-- Heading -->
      <p class="mt-7 mb-5 fs-xxs fw-bold text-uppercase">
        Utilities
      </p>

      <!-- Links -->
      <ul class="list-styled">
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/background.html">Background</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/border.html">Border</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/lift.html">Lift</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/opacity.html">Opacity</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/position.html">Position</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/ratio.html">Ratio</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/shadow.html">Shadow</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/sizing.html">Sizing</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/text.html">Text</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/video.html">Video</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/zindex.html">Z-index</a>
        </li>
      </ul>

      <!-- Heading -->
      <p class="mt-7 mb-5 fs-xxs fw-bold text-uppercase">
        Design
      </p>

      <!-- Links -->
      <ul class="list-styled mb-0">
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/docs/figma.html">Figma</a>
        </li>
      </ul>

    </nav>
  </div>

</nav>
