<nav class="navbar navbar-expand-lg navbar-vertical navbar-light sticky-start px-lg-7 {{classList}}">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/overview.html">
      Shopper.
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSidenavLeftCollapse" aria-controls="navbarSidenavLeftCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarSidenavLeftCollapse">

      <!-- Nav -->
      <ul class="navbar-nav fs-lg mb-6 my-lg-12" id="sidenavParent">
        <li class="nav-item">

          <!-- Toggle -->
          <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#sidenavHome">
            Home
          </a>

          <!-- Collapse -->
          <div class="collapse" id="sidenavHome" data-bs-parent="#sidenavParent">
            <ul class="list-styled fs-base fw-normal py-3 mb-0">
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/index.html">Default</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/index-classic.html">Classic</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/index-fashion.html">Fashion</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/index-boxed.html">Boxed</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/index-simple.html">Simple</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/index-asymmetric.html">Asymmetric</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/index-sidenav.html">Sidenav</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/index-landing.html">Landing</a>
              </li>
            </ul>
          </div>

        </li>
        <li class="nav-item">

          <!-- Toggle -->
          <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#sidenavCatalog">
            Catalog
          </a>

          <!-- Collapse -->
          <div class="collapse" id="sidenavCatalog" data-bs-parent="#sidenavParent">
            <div class="row">
              <div class="col-12 py-3">

                <!-- Heading -->
                <p class="mb-5 fs-base fw-bold">Clothing</p>

                <!-- Links -->
                <ul class="list-styled fs-base">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">All Clothing</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Blouses & Shirts</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Coats & Jackets</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Dresses</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Hoodies & Sweats</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Denim</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Jeans</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Jumpers & Cardigans</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Leggings</a>
                  </li>
                </ul>

              </div>
              <div class="col-12 py-3">

                <!-- Heading -->
                <p class="mb-5 fs-base fw-bold">Shoes & Boots</p>

                <!-- Links -->
                <ul class="list-styled fs-base">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">All Shoes & Boots</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Branded Shoes</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Boots</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Heels</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Trainers</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Sandals</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Shoes</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Wide Fit Shoes</a>
                  </li>
                </ul>

              </div>
              <div class="col-12 py-3">

                <!-- Heading -->
                <p class="mb-5 fs-base fw-bold">Bags & Accessories</p>

                <!-- Links -->
                <ul class="list-styled fs-base">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">All Bags & Accessories</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Accessories</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Bags & Purses</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Luggage</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Belts</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Hats</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Hair Accessories</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Jewellery</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Travel Accessories</a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </li>
        <li class="nav-item">

          <!-- Toggle -->
          <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#sidenavShop">
            Shop
          </a>

          <div class="collapse" id="sidenavShop" data-bs-parent="#sidenavParent">
            <div class="row">
              <div class="col-12 py-3">

                <!-- Heading -->
                <div class="mb-5 fs-base fw-bold">Shop</div>

                <!-- Links -->
                <ul class="list-styled fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Default</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop-topbar.html">Topbar</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop-collapse.html">Collapse</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop-simple.html">Simple</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop-masonry.html">Masonry</a>
                  </li>
                </ul>

              </div>
              <div class="col-12 py-3">

                <!-- Heading -->
                <div class="mb-5 fs-base fw-bold">Product</div>

                <!-- Links -->
                <ul class="list-styled fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/product.html">Default</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/product-images-left.html">Images Left</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/product-image-grid.html">Image Grid</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/product-image-slider.html">Image Slider</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/product-images-stacked.html">Images Stacked</a>
                  </li>
                </ul>

              </div>
              <div class="col-12 py-3">

                <!-- Heading -->
                <div class="mb-5 fs-base fw-bold">Support</div>

                <!-- Links -->
                <ul class="list-styled fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shopping-cart.html">Shopping Cart</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/checkout.html">Checkout</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/order-completed.html">Order Completed</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shipping-and-returns.html">Shipping & Returns</a>
                  </li>
                </ul>

              </div>
              <div class="col-12 py-3">

                <!-- Heading -->
                <div class="mb-5 fs-base fw-bold">Account</div>

                <!-- Links -->
                <ul class="list-styled fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/account-order.html">Order</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/account-orders.html">Orders</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/account-wishlist.html">Wishlist</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/account-personal-info.html">Personal Info</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/account-address.html">Addresses</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/account-address-edit.html">Addresses: New</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/account-payment.html">Payment</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/account-payment-edit.html">Payment: New</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/account-payment-choose.html">Payment: Choose</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/auth.html">Auth</a>
                  </li>
                </ul>

              </div>
              <div class="col-12 py-3">

                <!-- Heading -->
                <div class="mb-5 fs-base fw-bold">Modals</div>

                <!-- Links -->
                <ul class="list-styled fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" data-bs-toggle="modal" href="#modalNewsletterHorizontal">
                      Newsletter: Horizontal
                    </a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" data-bs-toggle="modal" href="#modalNewsletterVertical">
                      Newsletter: Vertical
                    </a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" data-bs-toggle="modal" href="#modalProduct">
                      Product
                    </a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" data-bs-toggle="offcanvas" href="#modalSearch">
                      Search
                    </a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" data-bs-toggle="offcanvas" href="#modalShoppingCart">
                      Shopping Cart
                    </a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" data-bs-toggle="modal" href="#modalSizeChart">
                      Size Chart
                    </a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" data-bs-toggle="modal" href="#modalWaitList">
                      Wait List
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </li>
        <li class="nav-item">

          <!-- Toggle -->
          <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#sidenavPages">
            Pages
          </a>

          <!-- Collapse -->
          <div class="collapse" id="sidenavPages" data-bs-parent="#sidenavParent">
            <ul class="list-styled fs-base fw-normal py-3 mb-0">
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/about.html">About</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/contact-us.html">Contact Us</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/store-locator.html">Store Locator</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/faq.html">FAQ</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/coming-soon.html">Coming Soon</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/404.html">404</a>
              </li>
            </ul>
          </div>

        </li>
        <li class="nav-item">

          <!-- Toggle -->
          <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#sidenavBlog">
            Blog
          </a>

          <!-- Collapse -->
          <div class="collapse" id="sidenavBlog" data-bs-parent="#sidenavParent">
            <ul class="list-styled fs-base fw-normal py-3 mb-0">
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/blog.html">Blog</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/blog-post.html">Blog Post</a>
              </li>
            </ul>
          </div>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{webRoot}}/docs/getting-started.html">Docs</a>
        </li>
      </ul>

      <!-- Social links -->
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="text-gray-350" href="#!">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="text-gray-350" href="#!">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="text-gray-350" href="#!">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="text-gray-350" href="#!">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="text-gray-350" href="#!">
            <i class="fab fa-medium-m"></i>
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
