<nav class="navbar navbar-expand-lg navbar-light {{classList}}">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand d-lg-none" href="{{webRoot}}/overview.html">
      Shopper.
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFashionTopCollapse" aria-controls="navbarFashionTopCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarFashionTopCollapse">

      <!-- Nav -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-uppercase active" href="#!">Women</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="#!">Men</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="#!">Kids</a>
        </li>
      </ul>

      <!-- Brand -->
      <a class="navbar-brand mx-auto d-none d-lg-block" href="{{webRoot}}/overview.html">
        Shopper.
      </a>

      <!-- Nav -->
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" href="{{webRoot}}/account-orders.html">
            <i class="fe fe-user"></i>
          </a>
        </li>
        <li class="nav-item ms-lg-n4">
          <a class="nav-link" href="{{webRoot}}/account-wishlist.html">
            <i class="fe fe-heart"></i>
          </a>
        </li>
        <li class="nav-item ms-lg-n4">
          <a class="nav-link" data-bs-toggle="offcanvas" href="#modalShoppingCart">
            <span data-cart-items="2">
              <i class="fe fe-shopping-cart"></i>
            </span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
