<nav class="navbar navbar-expand {{classList}}">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/overview.html">
      Shopper.
    </a>

    <!-- Nav -->
    <ul class="navbar-nav d-none d-md-flex ms-auto">
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="offcanvas" href="#modalSearch">
          <i class="fe fe-search"></i>
        </a>
      </li>
      <li class="nav-item ms-lg-n4">
        <a class="nav-link" href="{{webRoot}}/account-orders.html">
          <i class="fe fe-user"></i>
        </a>
      </li>
      <li class="nav-item ms-lg-n4">
        <a class="nav-link" href="{{webRoot}}/account-wishlist.html">
          <i class="fe fe-heart"></i>
        </a>
      </li>
      <li class="nav-item ms-lg-n4">
        <a class="nav-link" data-bs-toggle="offcanvas" href="#modalShoppingCart">
          <span data-cart-items="2">
            <i class="fe fe-shopping-cart"></i>
          </span>
        </a>
      </li>
    </ul>

    <!-- Toggler -->
    <button class="navbar-toggler d-block ms-7" type="button" data-bs-toggle="offcanvas" data-bs-target="#modalSidebar">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>
