<div class="dropdown-menu w-100">
  <div class="card card-lg">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-4 col-md">

            <!-- Heading -->
            <div class="mb-5 fw-bold">Women</div>

            <!-- Links -->
            <ul class="list-styled mb-0 fs-sm">
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Clothing</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Shoes</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Dresses</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Bags</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Accessories</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Sunglasses</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Denim</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Boots</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Jewelry</a>
              </li>
            </ul>

          </div>
          <div class="col-4 col-md">

            <!-- Heading -->
            <div class="mb-5 fw-bold">Men</div>

            <!-- Links -->
            <ul class="list-styled mb-0 fs-sm">
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Clothing</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Shoes</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Coats & Jackets</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Bags</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Accessories</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Sunglasses</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Denim</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Sneakers</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Watches</a>
              </li>
            </ul>

          </div>
          <div class="col-4 col-md">

            <!-- Heading -->
            <div class="mb-5 fw-bold">Kids</div>

            <!-- Links -->
            <ul class="list-styled mb-0 fs-sm">
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Clothing</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Shoes</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Accessories</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Sunglasses</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Denim</a>
              </li>
              <li class="list-styled-item">
                <a class="list-styled-link" href="{{webRoot}}/shop.html">Boots</a>
              </li>
            </ul>

          </div>
          <div class="d-none d-md-flex flex-column col-md-3">

            <!-- Card -->
            <div class="card mb-7 bg-cover" style="min-height: 150px;">

              <!-- Background -->
              <div class="card-bg">
                <div class="card-bg-img bg-cover" style="background-image: url(assets/img/products/product-2.jpg);"></div>
              </div>

              <!-- Body -->
              <div class="card-body my-auto px-7">
                <a class="stretched-link fw-bold text-body" href="{{webRoot}}/shop.html">
                  Men's Shirts
                </a>
              </div>

            </div>

            <!-- Card -->
            <div class="card bg-cover" style="min-height: 150px;">

              <!-- Background -->
              <div class="card-bg">
                <div class="card-bg-img bg-cover" style="background-image: url(assets/img/products/product-3.jpg);"></div>
              </div>

              <!-- Body -->
              <div class="card-body my-auto px-7">
                <a class="stretched-link fw-bold text-body" href="{{webRoot}}/shop.html">
                  Floral Dresses
                </a>
              </div>

            </div>

          </div>
          <div class="d-none d-md-flex flex-column col-md-3">

            <!-- Card -->
            <div class="card bg-cover" style="min-height: 330px;">

              <!-- Background -->
              <div class="card-bg">
                <div class="card-bg-img bg-cover" style="background-image: url(assets/img/products/product-111.jpg);"></div>
              </div>

              <!-- Body -->
              <div class="card-body my-auto text-center">
                <a class="stretched-link text-white" href="{{webRoot}}/shop.html">
                  <h1 class="mb-1 fw-bolder text-uppercase">50% off</h1>
                  <h6>Women’s Watches</h6>
                </a>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
