<div class="dropdown-menu">
  <div class="card card-lg">
    <div class="card-body">
      <ul class="list-styled fs-sm">
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/index.html">Default</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/index-classic.html">Classic</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/index-fashion.html">Fashion</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/index-boxed.html">Boxed</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/index-simple.html">Simple</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/index-asymmetric.html">Asymmetric</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/index-sidenav.html">Sidenav</a>
        </li>
        <li class="list-styled-item">
          <a class="list-styled-link" href="{{webRoot}}/index-landing.html">Landing</a>
        </li>
      </ul>
    </div>
  </div>
</div>
