<div class="dropdown-menu w-100">

  <!-- Tabs -->
  <div class="mb-2 mb-lg-0 border-bottom-lg">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Nav -->
          <nav class="nav nav-tabs nav-overflow fs-xs border-bottom border-bottom-lg-0">
            <a class="nav-link text-uppercase active" data-bs-toggle="tab" href="#navTab">
              Women
            </a>
            <a class="nav-link text-uppercase" data-bs-toggle="tab" href="#navTab">
              Men
            </a>
            <a class="nav-link text-uppercase" data-bs-toggle="tab" href="#navTab">
              Kids
            </a>
          </nav>

        </div>
      </div>
    </div>
  </div>

  <!-- Tab content -->
  <div class="card card-lg">
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="navTab">
          <div class="container">
            <div class="row">
              <div class="col-6 col-md">

                <!-- Heading -->
                <div class="mb-5 fw-bold">Clothing</div>

                <!-- Links -->
                <ul class="list-styled mb-6 mb-md-0 fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">All Clothing</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Blouses & Shirts</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Coats & Jackets</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Dresses</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Hoodies & Sweats</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Denim</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Jeans</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Jumpers & Cardigans</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Leggings</a>
                  </li>
                </ul>

              </div>
              <div class="col-6 col-md">

                <!-- Heading -->
                <div class="mb-5 fw-bold">Shoes & Boots</div>

                <!-- Links -->
                <ul class="list-styled mb-6 mb-md-0 fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">All Shoes & Boots</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Branded Shoes</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Boots</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Heels</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Trainers</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Sandals</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Shoes</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Wide Fit Shoes</a>
                  </li>
                </ul>

              </div>
              <div class="col-6 col-md">

                <!-- Heading -->
                <div class="mb-5 fw-bold">Bags & Accessories</div>

                <!-- Links -->
                <ul class="list-styled mb-0 fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">All Bags & Accessories</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Accessories</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Bags & Purses</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Luggage</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Belts</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Hats</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Hair Accessories</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Jewellery</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Travel Accessories</a>
                  </li>
                </ul>

              </div>
              <div class="col-6 col-md">

                <!-- Heading -->
                <div class="mb-5 fw-bold">Collections</div>

                <!-- Links -->
                <ul class="list-styled mb-0 fs-sm">
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">All Collections</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Occasionwear</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Going Out</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Workwear</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Holiday Shop</a>
                  </li>
                  <li class="list-styled-item">
                    <a class="list-styled-link" href="{{webRoot}}/shop.html">Jean Fit Guide</a>
                  </li>
                </ul>

              </div>
              <div class="col-4 d-none d-lg-block">

                <!-- Card -->
                <div class="card">

                  <!-- Image -->
                  <img class="card-img" src="{{webRoot}}/assets/img/products/product-110.jpg" alt="...">

                  <!-- Overlay -->
                  <div class="card-img-overlay bg-dark-0 bg-hover align-items-center">
                    <div class="text-center">
                      <a class="btn btn-white stretched-link" href="{{webRoot}}/shop.html">
                        Shop Sweaters <i class="fe fe-arrow-right ms-2"></i>
                      </a>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
